@charset 'utf-8';




/*****************************************************************
******************************************************************
******************************************************************
        硫붿씤�섏씠吏� : 媛� 紐⑤뱢�� ���댄� 怨듯넻 �ㅼ젙
******************************************************************
******************************************************************
*****************************************************************/

.nm_tit {
    position: relative;
    z-index: 10;
    text-align: center;
    margin: 0 15px 10px;
}
.nm_tit > h3 {
    letter-spacing: 0px;
    font-size: 2.0em;
    font-weight: 400;
    color: #333;
}
.nm_tit > span {
    display: inline-block;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    font-weight: 300;
    font-size: 1.0em;
    color: #666;
}

@media screen and (max-width: 768px) {
    .nm_tit > h3 {
        font-size: 1.5em;
    }
    .nm_tit > span {
        padding: 10px;
        font-size: 1.0em;
    }
}


















/*****************************************************************
******************************************************************
******************************************************************
        硫붿씤�섏씠吏� : 媛� 紐⑤뱢�� ���댄� 媛쒕퀎 �ㅼ젙
******************************************************************
******************************************************************
*****************************************************************/


/*****************************************************************
ms04 : 異붿텧寃뚯떆臾�
*****************************************************************/
.ms04 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}



/*****************************************************************
ms05 : 異붿텧寃뚯떆臾�, 怨좉컼�쇳꽣
*****************************************************************/
.ms05 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}



/*****************************************************************
ms06 : 異붿텧媛ㅻ윭由�
*****************************************************************/
.ms06 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}



/*****************************************************************
ms07 : 1�⑥씠誘몄�
*****************************************************************/
.ms07 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}



/*****************************************************************
ms10 : �덉빟臾몄쓽(硫붿씤�쇰찓��)
*****************************************************************/
.ms10 > .nm_tit > h3 {
    font-family: 'Playfair Display', serif;
    letter-spacing: 3px;
    font-weight: 900;
    color: #fff;
}
.ms10 > .nm_tit > span {
    color: #ddd;
}

























/*****************************************************************
******************************************************************
******************************************************************
        硫붿씤�섏씠吏� : 媛� 紐⑤뱢�� �щ갚 諛� 諛곌꼍�대�吏� 媛쒕퀎�ㅼ젙
******************************************************************
******************************************************************
*****************************************************************/


/*****************************************************************
ms01 : �щ씪�대뱶
*****************************************************************/
.ms01 {
    background-color: #fff;
}



/*****************************************************************
ms04 : 異붿텧寃뚯떆臾�
*****************************************************************/
.ms04 {
    padding: 50px 0;
}



/*****************************************************************
ms05 : 異붿텧寃뚯떆臾�, 怨좉컼�쇳꽣
*****************************************************************/
.ms05 {
    padding: 50px 0;
}



/*****************************************************************
ms06 : 異붿텧媛ㅻ윭由�
*****************************************************************/
.ms06 {
    padding: 0px 0 30px;
}



/*****************************************************************
ms07 : 1�⑥씠誘몄�
*****************************************************************/
.ms07 {
    position: relative;
    margin: 0px 0;
    padding: 0px 0;
    background-image: url(../../img/_des/de01/de01_img04.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms07:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms07 > .container,
.ms07 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms08 : 3�⑦삎
*****************************************************************/
.ms08 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-image: url(../../img/_des/de02/de02_img02.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms08:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(215, 217, 210, 0.8);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms08 > .container,
.ms08 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms09 : �쒗쑕��
*****************************************************************/
.ms09 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
/*    background-image: url(../../img/_des/de02/de02_img02.jpg);*/
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms09:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
/*    background: rgba(215, 217, 210, 0.0);*/
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms09 > .container,
.ms09 > .container-fulid {
    position: relative;
    z-index: 3;
}




/*****************************************************************
ms10 : �덉빟臾몄쓽(硫붿씤�쇰찓��)
*****************************************************************/
.ms10 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
    background-image: url(../../img/_des/de01/de01_img03.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms10:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(70, 78, 6, 0.56);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms10 > .container {
    position: relative;
    z-index: 3;
}




/*****************************************************************
ms11 : RECRUIT : 梨꾩슜�덈궡
*****************************************************************/
.ms11 {
    margin: 0px 0;
    padding: 50px 0;
}




/*****************************************************************
ms12 : 3�⑥븘�댁퐯
*****************************************************************/
.ms12 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
    background-image: url(../../img/_des/de02/de02_img01.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms12:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms12 > .container,
.ms12 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms13 : 醫뚯슦6��
*****************************************************************/
.ms13 {
    margin: 0px 0;
    padding: 50px 0;
    background-color: #f4f4f4;
}



/*****************************************************************
ms14 : �꾩퐫�붿뼵(怨좉컼�쇳꽣)
*****************************************************************/
.ms14 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms15 : 遺덇퇋移숇툝濡�
*****************************************************************/
.ms15 {
    position: relative;
    margin: 50px 0;
    padding: 0px 0;
    background-color: #fff;
/*    background-image: url(../../img/_des/de02/de02_img03.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms15:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(113, 141, 136, 0.0);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms15 > .container,
.ms15 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms16 : 濡ㅼ삤踰�6��
*****************************************************************/
.ms16 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
/*    background-image: url(../../img/_des/de02/de02_img03.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms16:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(113, 141, 136, 0.0);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms16 > .container,
.ms16 > .container-fulid {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms17 : 濡ㅼ삤踰�4��
*****************************************************************/
.ms17 {
    position: relative;
    margin: 30px 0 30px;
    padding: 0px 0 0px;
    background-color: #fff;
/*    background-image: url(../../img/_des/de02/de02_img05.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms17:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms17 > .container {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms18 : 4�⑤툝��
*****************************************************************/
.ms18 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms19 : 1�⑦삎�띿뒪��
*****************************************************************/ 
.ms19 {
    position: relative;
    margin: 0px 0;
    padding: 0px 0;
    background-color: #fff;
    background-image: url(../../img/_des/de01/de01_img03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms19:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms19 > .container {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms20 : �몄궗留�
*****************************************************************/
.ms20 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms21 : �뚯궗�뚭컻
*****************************************************************/
.ms21 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms22 : �뚯궗�곗뿭
*****************************************************************/
.ms22 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms23 : �숈쁺��
*****************************************************************/ 
.ms23 {
    position: relative;
    margin: 0px 0;
    padding: 100px 0;
    background-color: #fff;
/*    background-image: url(../../img/_des/de01/de01_img03.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms23:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(88, 88, 88, 0);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms23 > .container {
    position: relative;
    z-index: 3;
}



/*****************************************************************
ms24 : CLICK HERE : 紐⑤떖�앹뾽
*****************************************************************/
.ms24 {
    margin: 0px 0;
    padding: 50px 0;
}




/*****************************************************************
ms25 : �ъ씠�몃㏊
*****************************************************************/
.ms25 {
    margin: 0px 0;
    padding: 100px 0 0;
}



/*****************************************************************
ms26 : �ъ뾽遺꾩빞1
*****************************************************************/
.ms26 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms27 : �ъ뾽遺꾩빞2
*****************************************************************/
.ms27 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms28 : �쒖꽕�덈궡 : ��린��
*****************************************************************/
.ms28 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms29 : 議곗쭅��
*****************************************************************/
.ms29 {
    margin: 0px 0;
    padding: 50px 0;
}



/*****************************************************************
ms30 : 援ш�吏���
*****************************************************************/
.ms30 {
    margin: 0px 0;
    padding: 0px 0 0;
}



/*****************************************************************
ms002 : 肄쒕같��
*****************************************************************/ 
.ms002 {
    position: relative;
    margin: 0px 0;
    padding: 0px 0;
    background-color: #fff;
    background-image: url(../../img/_des/de002/de002_img01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.ms002:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms002 > .container {
    position: relative;
    z-index: 3;
}


/*****************************************************************
ms003 : 吏꾪뻾�щ�
*****************************************************************/ 
.ms003 {
    margin: 0px 0;
    padding: 0px 0;
}

.ms003 table { margin-top:-300px;}


/*****************************************************************
ms004 : 鍮좊Ⅸ�곷떞�좎껌��
*****************************************************************/
.ms004 {
    position: relative;
    margin: 0px 0;
    padding: 50px 0;
    background-color: #fff;
    background-image: url(../../img/_des/de004/de004_img01.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}
.ms004:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms004 > .container {
    position: relative;
    z-index: 3;
}

/*****************************************************************
ms005 : 臾대즺�곷떞
*****************************************************************/ 
.ms005 {
    margin: 0px 0;
    padding: 0px 0;
}


/*****************************************************************
ms006 : �щ줈嫄�
*****************************************************************/ 
.ms006 {
    margin: 0px 0;
    padding: 20px 0;
	background-color:#efa603;
	position: relative;
    z-index: 1;
}
.ms006:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);/* overlay */
    width: 100%;
    height: 100%;
    z-index: 2;
}

.ms006 .container h3 {
	font-weight:300;
	color:#000;
	font-size:1.7em;
	margin-bottom:5px;
}
.ms006 .container span{
	font-weight:600;
	color:#ffffff;
	font-size:2em;
	vertical-align:baseline;
}


.ms006 .container h2 {
	font-weight:600;
	color:#fff;
	font-size:2em;
	margin-bottom:20px;
	line-height:1.5em;
}
.ms006 .container ul { margin-top:20px; }
.ms006 .container .banner {
	margin:5px 0 30px 0;
    border-radius: 30px;
    width: 260px;
    height: 60px;
    display: inline-block;
    text-align: center;
    background-color: #fff;
}

.ms006 .container li{
	font-weight:300;
	color:#000;
	font-size:1.2em;
	vertical-align:baseline;
}

.ms006 .container li span{
	font-weight:700;
	color:#e7a500;
	font-size:2.4em;
	vertical-align:baseline;
}

/*****************************************************************
ms_bottom : �섎떒怨좎젙 �꾪솕�곷떞
*****************************************************************/
.ms_bottom {
    width: 100%;
	position: fixed;
    bottom: 0;
    z-index: 16;
    margin: 0;
	border-top: 2px solid #e7a500;
	background:#111111;
	height:60px;
}
.ms_bottom:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.ms_bottom > .container {
    position: relative;
    z-index: 3;
	max-width:500px;
	margin:0 auto;
}


.ms_bottom h2 {
	position:absolute;
	top:5px;
	left:10px;
    padding: 0;
    font-size: 1.5em;
    letter-spacing: 0px;
	text-align:right;
    font-weight: 300;
    color: #ffffff;
}
.ms_bottom h2 strong {
	font-size:1.075em;
}


.ms_bottom h3 {
	position:relative;
	top:8px;
	left:10px;
	width:50%;
	margin:0 auto;
    padding: 0;
    font-size: 2.5em;
    letter-spacing: 0px;
    font-weight: 600;
    color: #efa603;
}

/* 踰꾪듉(call) */
.ms_bottom .button {
	position:absolute;
	top:10px;
	right: 10px;
	float:right;
    width: 80px;
	height: 40px;
    background-color: #db9e0b;
    border: 0px;
	letter-spacing:0;
    border-radius: 5px;
    font-size: 1.2em;
	line-height: 2.4em;
    color: #ffffff;
	font-weight:500;
	display: block;
	background-image: linear-gradient(to right, #db9e0b 0%, #efa603 51%, #db9e0b 100%);
	background-size: 200% auto;
	text-transform: uppercase;
    transition: 0.5s;
            
}
.ms_bottom .button:hover {
    background-color: #fff;
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
}
         


@media screen and (max-width: 511px) {
.ms_bottom h2 { font-size:1.2em; top:10px; }
.ms_bottom h3 { font-size:2.2em; left:-5px; top:10px; }
.ms_bottom .button {  }
}

@media screen and (max-width: 403px) {
.ms_bottom h2 { font-size:1em; top:13px; }
.ms_bottom h3 { font-size:1.6em; left:-10px; top:15px; }
.ms_bottom .button {  }
}

@media screen and (max-width: 328px) {
.ms_bottom h2 { font-size:0.9em; top:15px; }
.ms_bottom h3 { font-size:1.2em; left:-10px; top:20px; }
.ms_bottom .button {  }
}